{% extends "home/base.html" %}
{% load static %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Product Types</h3>
        <a href="{% url "books:book_list" %}"><h3>Books</h3></a>
        <a href="{% url "games:game_list" %}"><h3>Games</h3></a>
    </div>
    <div id="main" class="product-list">
        <h1>All Products</h1>
        <div class="product-type">
            <h2>Books</h2>
            {% for book in books reversed %}
                <div class="item">
                    <h4><strong>{{ book.title }}</strong></h4>
                    <a href="{{ book.get_absolute_url }}">
                        <img src="{% if book.image %}{{ book.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ book.get_absolute_url }}">{{ book.name }}</a><br>
                    £{{ book.price }}
                    <form method="post" action="{% url "cart:cart_book_add" book.id %}">
                        {% csrf_token %}
                        {{ cart_book_form }}
                        <input type="submit" value="Add to Cart">
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="product-type">
            <h2>Games</h2>
            {% for game in games reversed %}
                <div class="item">
                    <h4><strong>{{ game.title }}</strong></h4>
                    <a href="{{ game.get_absolute_url }}">
                        <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ game.get_absolute_url }}">{{ game.name }}</a><br>
                    £{{ game.price }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}