{% extends "home/base.html" %}
{% load static %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Product Types</h3>
        <a href="{% url "books:book_list" %}"><h3>Books</h3></a>
        <a href="{% url "games:game_list" %}"><h3>Games</h3></a>
    </div>
    <div id="main" class="book-list">
        <h1>All Products</h1>
        <h2>Books</h2>
        <table>
            <tr>
            {% for book in books reversed %}
                {% if forloop.counter0|divisibleby:3 and forloop.counter0 is not 0 %}
                </tr><tr>
                {% endif %}
                <td class="item">
                    <h4><strong>{{ book.title }}</strong></h4>
                    <a href="{{ book.get_absolute_url }}">
                        <img src="{% if book.image %}{{ book.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ book.get_absolute_url }}">{{ book.name }}</a><br>
                    £{{ book.price }}
                </td>
            {% endfor %}
            </tr>
        </table>
        <h2>Games</h2>
        <table>
            <tr>
            {% for game in games reversed %}
                {% if forloop.counter0|divisibleby:3 and forloop.counter0 is not 0 %}
                </tr><tr>
                {% endif %}
                <td class="item">
                    <h4><strong>{{ game.title }}</strong></h4>
                    <a href="{{ game.get_absolute_url }}">
                        <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ game.get_absolute_url }}">{{ game.name }}</a><br>
                    £{{ game.price }}
                </td>
            {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}