{% extends "books/base.html" %}
{% load static %}

{% block title %}
    {{ book.name }}
{% endblock %}

{% block content %}
    <div class="book-detail">
        <img src="{% if book.image %}{{ book.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ book.name }}</h1>
        <h2><a href="{{ book.genre.get_absolute_url }}">{{ book.genre }}</a></h2>
        <p class="price">£{{ book.price }}</p>
        {{ book.description|linebreaks }}
    </div>
{% endblock %}

        
        
        
