{% extends "home/base.html" %}
{% load static %}

{% block title %}
    {{ book.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if book.image %}{{ book.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ book.name }}</h1>
        <h2><a href="{{ book.genre.get_absolute_url }}">{{ book.genre }}</a></h2>
        <p class="price">£{{ book.price }}</p>
        {{ book.description|linebreaks }}
        <form method="post" action="{% url "cart:cart_book_add" book.id %}">
			{% csrf_token %}
			{{ cart_book_form }}
			<input type="submit" value="Add to Cart">
		</form>
    </div>
{% endblock %}

        
        
        
