{% extends "books/base.html" %}
{% load static %}

{% block title %}
    {% if genre %}{{ genre.name }}{% else %}Books{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Genres</h3>
        <ul>
            <li {% if not genre %}class="selected"{% endif %}>
                <a href="{% url "books:book_list" %}">All</a>
            </li>
        {% for c in genres %}
            <li {% if genre.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.get_capitalised_name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="main" class="book-list">
        <h1>{% if genre %}{{ genre.get_capitalised_name }}{% else %}Books{% endif %}</h1>
        <table>
            <tr>
            {% for book in books reversed %}
                {% if forloop.counter0|divisibleby:3 and forloop.counter0 is not 0 %}
                </tr><tr>
                {% endif %}
                <td class="item">
                    <h4><strong>{{ book.title }}</strong></h4>
                    <a href="{{ book.get_absolute_url }}">
                        <img src="{% if book.image %}{{ book.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ book.get_absolute_url }}">{{ book.name }}</a><br>
                    £{{ book.price }}
                    <!--<form method="post" action="{% url "cart:cart_add" book.id %}">
                        {% csrf_token %}
                        {{ cart_book_form }}
                        <input type="submit" value="Add to Cart">
                    </form>-->
                </td>
            {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}